pipeline/pl_ingest_polulation_data_ColumnCheck.json
{
	"name": "pl_ingest_polulation_data_ColumnCheck",
	"properties": {
		"activities": [
			{
				"name": "File Watcher",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_population_raw_gz",
						"type": "DatasetReference"
					},
					"timeout": "0.00:01:00",
					"sleep": 10,
					"minimumSize": 5000
				}
			},
			{
				"name": "Get Metadata Employee",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "File Watcher",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_employee_csv",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Column Count Matches",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata Employee",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Metadata Employee').output.columnCount,9)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Population Data_copy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_employee_csv",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_emp_File_watcher_tgt",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Scenario"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-10T17:02:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}